@charset "UTF-8";

  	body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
	background: linear-gradient(135deg, #c90076, #FF4500);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	}
		
	.rectangle {
	    width: 40%;
	    height: 100%;
	    background-color: #FFFFFF;
	    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	    overflow-y: auto;
	    overflow-x: hidden;
	    position: relative;
	}
	/* 스크롤바 굵기 조정 */
	.rectangle::-webkit-scrollbar {
	    width: 10px; 
	    height: 10px;
	}
	
	.rectangle::-webkit-scrollbar-thumb {
	    background-color: #CCC; /* 스크롤바 색상 */
	    border-radius: 10px; /* 둥글게 */
	}
	
	.rectangle::-webkit-scrollbar-track {
	    background: #F7F7F7;
	}
	
	/* Survey Section */
	.survey-options {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
 	.survey-section {
	    padding: 30px;
	}
	
	.survey-section p {
	    font-size: 16px;
	    color: #333333;
	    margin-bottom: 10px;
	}
	
	.survey-options label {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    font-size: 14px;
	    color: #666666;
	}
	
	.survey-options input[type="radio"] {
	    margin-top: 5px;
	    cursor: pointer;
	}
	
	.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 44px;
    margin: 20px auto 0 auto;
    background: #D6455A;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
	}
	.submit-button:hover {
	    background: #A00060;
	}
	
	.custom-button {
		font-family: 'Montserrat', sans-serif;
    	font-weight: bold;
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center;
	    padding: 14px 10px;
	    gap: 16px;
	    position: fixed;
	    width: 77px;
	    height: 44px;
	    top: 20px;
	    right: 20px;
		font-size: 16px;
	    border: none;
	    background: none; /* 배경 제거 */
	    color: black; /* 글자 흰색 */
	    font-size: 15px;
	    cursor: pointer;
	}


	/* Header Bar */
	.header-bar {
	    background-color: #c90076; /* 오렌지색 바 */
	    height: 10px;
	    width: 100%;
	    border-top-left-radius: 8px;
	    border-top-right-radius: 8px;
	}
	
	.title-section {
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #DDD; /* 구분선 */
	}
	
	.title-section h1 {
	    margin: 0;
	    font-size: 24px;
	    color: #333333; /* 제목 색상 */
	}
	
	.title-section p {
	    margin: 10px 0 0 0;
	    font-size: 14px;
	    color: #666666; /* 설명 텍스트 색상 */
	}
	
	textarea {
	    width: 100%;
	    height: 80px;
	    border-radius: 5px;
	    border: 1px solid #DDD;
	    padding: 10px;
	    font-size: 14px;
	    color: #333333;
	}
	
	textarea:disabled {
	    background-color: #f0f0f0;
	    color: #888888;
	}

	.home-button{
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 100px;
	    height: 44px;
	    margin: 20px auto 0 auto;
	    background: #D6455A;
	    border-radius: 8px;
	    border: none;
	    color: white;
	    font-size: 14px;
	    cursor: pointer;
	}
	.modal {
	    display: none; /* 기본적으로 숨김 */
	    position: fixed;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    overflow: auto;
	    background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
	}
	
	.modal-content {
    background-color: #fff;
    margin: calc(50vh - 150px) auto; /* 화면 중앙 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* 정사각형 너비 */
    height: 300px; /* 정사각형 높이 */
    border-radius: 8px;
    text-align: center; /* 텍스트 정렬 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

	
	.modal-content h2 {
	    margin: 0;
	    margin-bottom: 10px;
	    font-size: 22px;
	    color: #333;
	}
	
	.modal-content p {
	    font-size: 16px;
	    color: #666;
	    margin-bottom: 20px;
	}
	
	
	.modal-buttons button {
	    margin: 0 5px; /* 왼쪽과 오른쪽 간격을 5px로 설정 */
	}
	
	.home-button {
	    background-color: #F5576D; 
	    color: white;
	    border: none;
	    padding: 10px 20px;
	    border-radius: 5px;
	    cursor: pointer;
	    font-size: 14px;
	}
	
	.home-button:hover {
	    background-color: #D43F3F;
	}
	
	.survey-button {
	    background-color: #F5576D;
	    color: white;
	    border: none;
	    padding: 10px 20px;
	    border-radius: 5px;
	    cursor: pointer;
	    font-size: 14px;
	}
	.survey-button1 {
		background-color: #8a8a8a;
	    color: white;
	    border: none;
	    padding: 10px 20px;
	    border-radius: 5px;
	    cursor: pointer;
	    font-size: 14px;
	}
	.survey-button1:hover {
	    background-color: #000;
}
	.survey-button:hover {
	    background-color: #D43F3F;
}
    .survey-options label {
        display: inline-block;
        margin-right: 10px;
        font-size: 14px;
    }

    .survey-options input[type="radio"] {
        margin-left: 5px;
    }
    
    .main-page{
    	text-align:center;
    }